<h2>Please enter message to encrypt:</h2>
<form method="post" action="encrypt_array(message, shift)">
<input type="text" name="message" autofocus>
<input type="submit" value="Enter" onclick>
</form>